In [1]:
import pandas as pd
import os
from importlib import reload
import haplogroup_analyzer as ha
import pandas as pd
reload(ha)
PATH = os.path.dirname(os.getcwd())

In [2]:
haplo_stats = pd.read_csv(os.path.join(PATH, 'data', 'hs_pop_seq', 'all_haplogroups.csv'), index_col = 0)
# Remove " from all values
haplo_stats = haplo_stats.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)
# Do the same for column names
haplo_stats.columns = haplo_stats.columns.str.replace('"', '')
# Grab the first string element of each Haplogroup as a baseHaplo
haplo_stats['baseHaplo'] = haplo_stats['Haplogroup'].apply(lambda x:x[0])
haplo_stats['SampleID'] = haplo_stats['SampleID'].apply(lambda x: x.split('.')[0])
haplo_stats.to_csv(os.path.join(PATH, 'data', 'hs_pop_seq', 'all_haplogroups_cleaned.csv'))

display(haplo_stats.head())

C:\Users\shtolz\AppData\Local\Temp\ipykernel_42848\3296716002.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  haplo_stats = haplo_stats.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

   SampleID Haplogroup Rank Quality    Range baseHaplo
0  MF056218     M7c1c3    1  1.0000  1-16569         M
1  MF056219    L0a2a1b    1  0.9851  1-16569         L
2  MF056220     M7c1c3    1  0.9864  1-16569         M
3  MF056221     L2a1a2    1  0.9826  1-16569         L
4  MF056222     E1a1a1    1  0.9232  1-16569         E

In [3]:
haplo_stats

    SampleID Haplogroup Rank Quality    Range baseHaplo
0   MF056218     M7c1c3    1  1.0000  1-16569         M
1   MF056219    L0a2a1b    1  0.9851  1-16569         L
2   MF056220     M7c1c3    1  0.9864  1-16569         M
3   MF056221     L2a1a2    1  0.9826  1-16569         L
4   MF056222     E1a1a1    1  0.9232  1-16569         E
..       ...        ...  ...     ...      ...       ...
45  MZ460147     H2a2a1    1  0.5000  1-16569         H
46  MZ460148     H2a2a1    1  0.5000  1-16569         H
47  MZ460149        H5f    1  0.5530  1-16569         H
48  MZ460150     H2a2a1    1  0.5000  1-16569         H
49  MZ460151     H2a2a1    1  0.5000  1-16569         H

[66228 rows x 6 columns]

In [4]:
pd.concat([haplo_stats['baseHaplo'].value_counts(normalize = True), haplo_stats['baseHaplo'].value_counts(normalize = False)], axis = 1)

           proportion  count
baseHaplo
H            0.229314  15187
L            0.102313   6776
M            0.098508   6524
U            0.088029   5830
B            0.082880   5489
D            0.047835   3168
J            0.047412   3140
T            0.045766   3031
F            0.034895   2311
C            0.034638   2294
K            0.034578   2290
A            0.028266   1872
R            0.020475   1356
N            0.016036   1062
I            0.014450    957
V            0.013801    914
X            0.010600    702
G            0.010268    680
W            0.010132    671
E            0.007278    482
Q            0.006840    453
P            0.006296    417
Z            0.005028    333
Y            0.003473    230
S            0.000740     49
O            0.000151     10

In [5]:
reload(ha)
haplogroup_summary = ha.create_frequency_table(os.path.join(PATH, 'data', 'hs_pop_seq', 'all_haplogroups_cleaned.csv'), output_file=os.path.join(PATH, 'data', 'hs_pop_seq', 'haplogroup_summary.csv'), output_format='html')

Reading CSV file: c:\Users\shtolz\Desktop\multi_function_review\data\hs_pop_seq\all_haplogroups_cleaned.csv
Loaded 66228 records from c:\Users\shtolz\Desktop\multi_function_review\data\hs_pop_seq\all_haplogroups_cleaned.csv
Lineage distribution of 66,228 sequences from haplogrep3 analysis:

        L                                   M                                   N
     Lineages                            Lineages                            Lineages
    "African"                           "Asian"                             "Eurasian"

  hg      #        %                  hg      #        %                  hg      #        %
  L3    2,365     4%                  M     6,524    10%                  H    14,137    21%
  L0    1,715     3%                  D     3,168     5%                  U     5,830     9%
  L2    1,506     2%                  C     2,294     3%                  B     5,489     8%
  L1    1,007     2%                  G       680     1%                  J     3,140     5%
  L4      113     0%                  E       482     1%                  T     3,031     5%
  L5       58     0%                  Q       453     1%                  K     2,290     3%
  L6       12     0%                  Z       333     1%                  F     2,311     3%
                                                                          A     1,872     3%
 Total    6,776  100%                Total   13,934  100%                 R     1,356     2%
Overall 10% (6,776 / 66,228)        Overall 21% (13,934 / 66,228)         HV    1,050     2%
                                                                          N     1,062     2%
                                                                          I       957     1%
                                                                          V       914     1%
                                                                          X       702     1%
                                                                          W       671     1%
                                                                          P       417     1%
                                                                          Y       230     0%
                                                                          S        49     0%
                                                                          O        10     0%

                                                                         Total   45,518  100%
                                                                        Overall 69% (45,518 / 66,228)

====================================================================================================
SUMMARY STATISTICS:
Total sequences analyzed: 66,228
L lineages (African): 6,776 (10.2%)
M lineages (Asian): 13,934 (21.0%)
N lineages (Eurasian): 45,518 (68.7%)
HTML frequency table saved to: c:\Users\shtolz\Desktop\multi_function_review\data\hs_pop_seq\haplogroup_summary.html